:root {
  --arrows-width: 80px;
  --arrows-width-right: -80px;

  /* colors  */
  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --veryDarkGray: hsl(0, 0%, 27%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* desktop first approach  */

/* header  */
header {
  position: absolute;
  top: 3rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  padding-inline-start: 4rem;
  z-index: 99;
  color: var(--White);
}

header nav {
  display: block;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem;
}

header nav ul li:hover {
  border-bottom: 1px solid var(--White);
}
header .hamburger-icon {
  display: none;
}

/* section one  */
.section-one {
  height: 100vh;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  color: var(--white);
}

.section-one .slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.section-one .slider .slide {
  flex: 1 0 100%;
  min-width: 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  align-content: center;
}

.section-one .slider .slide .hero-image {
  width: 60%;
  position: relative;
}
.section-one .slider .slide .content {
  width: 40%;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 2rem;
}

.section-one .slider .slide h1 {
  font-size: 35px;
  font-weight: 900;
}
.section-one .slider .slide p {
  font-size: 15px;
  color: var(--veryDarkGray);
}
.section-one .slider .slide button {
  background-color: transparent;
  border: unset;
  display: flex;
  width: 100%;
  white-space: nowrap;
}

.section-one .slider .slide button a {
  font-size: 22px;
  letter-spacing: 15px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease;
}
.section-one .slider .slide button a img {
  width: 20%;
  height: 100%;
}
.section-one .slider .slide button:hover a {
  color: var(--DarkGray);
}
.section-one::-webkit-scrollbar {
  display: none;
}
.section-one .slider .slide-one .hero-image,
.section-one .slider .slide-two .hero-image,
.section-one .slider .slide-three .hero-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.section-one .slider .slide-one .hero-image {
  background-image: url("../images/desktop-image-hero-1.jpg");
}
.section-one .slider .slide-two .hero-image {
  background-image: url("../images/desktop-image-hero-2.jpg");
}
.section-one .slider .slide-three .hero-image {
  background-image: url("../images/desktop-image-hero-3.jpg");
}

.hero-image .arrows {
  position: absolute;
  display: flex;
  width: 105px;
  height: 50px;
  bottom: 0;
  right: 0px;
  transform: translateX(100%);
}
.hero-image .arrows img {
  background-color: var(--Black);
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image .arrows img:hover {
  background-color: var(--veryDarkGray);
}

/* section two  */

.section-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
}
.section-two article {
  height: 100%;
  width: 100%;
}
.section-two article:nth-child(1) {
  background-image: url("../images/image-about-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-two article:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5rem;
  gap: 1rem;
}
.section-two article:nth-child(2) h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 5px;
}
.section-two article:nth-child(2) p {
  color: var(--veryDarkGray);
}

.section-two article:nth-child(3) {
  background-image: url("../images/image-about-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer  */
footer {
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  word-spacing: 5px;
  gap: 1rem;
}

/* media queries  */
@media screen and (max-width: 678px) {
  /* header  */

  header {
    display: flex;
    align-items: center;
  }

  header .icons {
    justify-content: space-between;
    display: flex;
    gap: 8rem;
  }

  header .icons .hamburger-icon {
    display: block;
  }
  header nav {
    display: none;
  }
  header nav ul {
  }

  header nav ul li:hover {
  }

  /* section one  */

  .section-one {
    min-height: 100vh;
  }

  .section-one .slider {
    display: flex;
    align-items: center;
  }

  .section-one .slider .slide {
    display: flex;
    align-content: center;
    flex-direction: column;
    min-height: 50vh;
  }

  .section-one .slider .slide .hero-image {
    height: 50vh;
    width: 100%;
  }
  .section-one .slider .slide .content {
    height: 50vh;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;
  }

  .section-one .slider .slide h1 {
    font-size: 20px;
  }

  .section-one .slider .slide button a {
    font-size: 16px;
    letter-spacing: 10px;
    transition: all 0.5s ease;
  }

  .hero-image .arrows {
    width: 105px;
    height: 50px;
    bottom: 0;
    right: 0px;
    transform: translateX(0%);
  }

  /* section two  */

  .section-two {
    flex-direction: column;
    display: flex;
    height: 100%;
  }

  .section-two article {
    min-height: 50vh;
    width: 100%;
  }
}
