<div class="attribution">
    <span> Challenge by</span>
    <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
        class="platform">Frontend Mentor</a
    >, <span>Coded by</span>
    <a class="name" href="#">Ogubuike Emejuru</a>
</div>

<style>
    .attribution {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        word-spacing: 5px;
        padding: 1rem 0;
        background-color: whitesmoke;
    }

    .platform {
        background-color: rgb(7, 37, 133);
        padding: 1rem;
        border-radius: 0.5rem;
        color: white;
    }
    .name {
        background-color: aqua;
        padding: 1rem;
        border-radius: 0.5rem;
    }
</style>
