/* imports  */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
:root {
  /* ## Colors */

  /* ### Primary */

  --GrayishBlue: hsl(237, 18%, 59%);
  --SoftRed: hsl(345, 95%, 68%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --DarkDesaturatedBlue: hsl(236, 21%, 26%);
  --VeryDarkBlue: hsl(235, 16%, 14%);
  --VeryDarkBlue2: hsl(234, 17%, 28%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--VeryDarkBlue);
  background-image: url("../../public/images/bg-stars.svg");
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  padding-block-start: 5rem;
  min-height: 100vh;
  width: 100%;

  background: url("../../public/images/pattern-hills.svg");

  background-repeat: no-repeat;
  background-position: bottom;
}

section > div {
  display: flex;
  gap: 1rem;
}

.heading {
  color: var(--White);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.count-down_container {
  display: grid;
  grid-template-columns: repeat(4, 80px);
}
.count-down_container article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.count-down_container article .item {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--VeryDarkBlue2);
  border-radius: 0.8rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.count-down_container article .item p {
  color: var(--SoftRed);
  font-size: 30px;
}

.count-down_container article h3 {
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: var(--GrayishBlue);
}
