:root {
  --padding1: 1rem;
  --padding2: 2rem;
  --borderRadius1: 10px;
  --borderRadius2: 15px;
}

body {
  background-color: var(--backgroundColor);
  background-image: url("../../assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  transition: background 500ms ease-in, color 800ms ease-in-out;
}

.todo-container {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 100px 100px 1fr 100px 100px;
  gap: var(--padding2);

  .todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: var(--JosefinSans_Bold);
      color: var(--White);
      font-size: 30px;
      letter-spacing: var(--borderRadius1);
    }

    div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        right: 0;
        transition: visibility 0.2s ease-in-out, opacity 0.8s ease-in-out;
        cursor: pointer;
      }
    }
  }

  .todo-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--TodoBackground);
    gap: var(--padding1);
    padding: var(--padding1);
    border-radius: var(--borderRadius1);

    .todo-unchecked {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      background: var(--TodoBackground);
      border: 1px solid var(--VeryDarkGrayishBlue);
      transition: 0.4s ease-in-out;
      // cursor: pointer;

      &:hover {
        border: 1px solid hsl(278, 33%, 50%);
      }
    }
    form {
      height: 100%;
      flex: 1;

      #todo-input,
      input[type="text"] {
        height: 95%;
        width: 100%;
        background: var(--TodoBackground);
        color: var(--textInput);
        font-family: var(--JosefinSans_Regular);
        font-size: 18px;
        outline: none;
        border: none;
        box-sizing: border-box;
        transition: color 1s ease-in-out;

        &:focus {
          outline: none;
          caret-color: hsl(240, 49%, 44%);
        }
      }
    }
  }

  .todo-list {
    background: var(--TodoBackground);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: var(--borderRadius2);
    box-shadow: var(--boxShadow);

    .todo-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding-left: var(--padding1);
      padding-right: var(--padding1);
      border-bottom: 1px solid var(--VeryDarkGrayishBlue);

      .todo-checkbox {
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background: hsl(278, 33%, 50%);
        background-image: url("../../assets/images/icon-check.svg");
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid var(--VeryDarkGrayishBlue);
        cursor: pointer;
      }

      .todo-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;

        p {
          color: var(--textInput);
          font-family: var(--JosefinSans_Bold);
          font-size: 12px;
          cursor: pointer;
        }

        img {
          cursor: pointer;
        }
      }
    }

    .todo-filter {
      display: flex;
      justify-content: space-between;
      color: var(--VeryDarkGrayishBlue);
      bottom: 10px;
      padding: 0px var(--padding1) 0px var(--padding1);
      // position: absolute;

      h1 {
        font-family: var(--JosefinSans_Regular);
        font-size: 15px;
        cursor: pointer;
      }

      .left {
        &:hover {
          color: var(--textInput);
          transition: 1s;
        }
      }
      .middle {
        display: flex;
        gap: 1rem;

        h1 {
          &:hover {
            color: var(--textInput);
            transition: 1s;
          }
          &:active {
            color: rgb(103, 103, 165);
            transition: 1s;
          }
        }
      }

      .right {
        &:hover {
          color: var(--textInput);
          transition: 1s;
        }
      }
    }
  }

  .todo-draggable {
    text-align: center;
    color: var(--VeryDarkGrayishBlue);
    color: var(--textInput);
    font-family: var(--JosefinSans_Bold);
    font-size: 10px;
  }
}

// :root {
//   --padding: 1rem;
// }

// body {
//   background-color: var(--backgroundColor);
//   background-image: url("../../assets/images/bg-desktop-dark.jpg");
//   background-repeat: no-repeat;
//   background-size: 100%;
//   min-height: 100vh;
//   display: grid;
//   grid-template-columns: 25% 50% 25%;
//   // justify-items: center;
//   // justify-content: center;
//   // align-items: center;

//   transition: background 500ms ease-in, color 800ms ease-in-out;
// }

// input:focus {
//   outline: 0;
// }

// section {
//   grid-area: 1 / 2 / 2 / 3;
//   display: grid;
//   grid-template-rows: 80px 80px 1fr;
//   gap: 2rem;

//   // article {
//   //   // border: 2px solid red;
//   // }

//   .header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     position: relative;

//     h1 {
//       font-family: var(--JosefinSans_Bold);
//       color: var(--White);
//       font-size: 30px;
//       letter-spacing: 15px;
//     }

//     img {
//       cursor: pointer;
//       position: absolute;
//       right: 0;
//       transition: visibility 0.2s ease-in-out, opacity 0.8s ease-in-out;
//     }
//   }
//   .TodoInput {
//     width: 590px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background: var(--TodoBackground);

//     padding-left: var(--padding);
//     padding-right: var(--padding);
//     border-radius: 10px;
//     box-shadow: var(--boxShadow);

//     .checkbox {
//       border-radius: 50%;
//       height: 20px;
//       width: 20px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       background: hsl(278, 33%, 50%);
//       background-image: url("../../assets/images/icon-check.svg");
//       background-position: center;
//       background-repeat: no-repeat;
//       border: 1px solid var(--VeryDarkGrayishBlue);
//       // background: linear-gradient(
//       //   135deg,
//       //   rgba(98, 99, 172, 1) 37%,
//       //   rgba(183, 158, 187, 1) 100%
//       // );
//     }

//     .typing {
//       border-radius: 50%;
//       height: 20px;
//       width: 20px;
//       background: var(--TodoBackground);
//       border: 1px solid var(--VeryDarkGrayishBlue);
//       cursor: pointer;
//       transition: 0.4s ease-in-out;

//       &:hover {
//         border: 1px solid hsl(278, 33%, 50%);
//       }
//     }

//     form {
//       height: 100%;
//       width: 92%;
//       border-radius: 10px;
//       // border: 2px solid red;

//       input[type="text"] {
//         height: 100%;
//         width: 100%;
//         background: var(--TodoBackground);
//         color: var(--textInput);
//         font-family: var(--JosefinSans_Regular);
//         border: none;
//         box-sizing: border-box;
//         font-size: 18px;
//         border-top-right-radius: 10px;
//         border-bottom-right-radius: 10px;
//         transition: color 1s ease-in-out;

//         &:focus {
//           caret-color: hsl(240, 49%, 44%);
//         }
//       }
//     }
//   }

//   .todos-list {
//     background: var(--TodoBackground);
//     border-radius: 15px;
//     position: relative;

//     .todo-item {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       gap: 2rem;
//       padding: 0 var(--padding) 0 var(--padding);
//       min-height: 30px;
//       // border-bottom: 1px solid var(--VeryDarkGrayishBlue);
//       .checkbox {
//         border-radius: 50%;
//         height: 20px;
//         width: 20px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background: hsl(278, 33%, 50%);
//         background-image: url("../../assets/images/icon-check.svg");
//         background-position: center;
//         background-repeat: no-repeat;
//         border: 1px solid var(--VeryDarkGrayishBlue);
//       }

//       .content {
//         flex: 1;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding-right: 20px;

//         h1 {
//           color: var(--textInput);
//           font-family: var(--JosefinSans_Bold);
//         }

//         img {
//           cursor: pointer;
//         }
//       }
//     }
//   }
//   .footer {
//     color: var(--VeryDarkGrayishBlue);
//     position: absolute;
//     bottom: 10px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0px var(--padding) 0px var(--padding);
//     // border: 2px solid red;

//     h1 {
//       font-family: var(--JosefinSans_Regular);
//       font-size: 15px;
//       cursor: pointer;
//     }

//     .left {
//       &:hover {
//         color: var(--White);
//         transition: 1s;
//       }
//     }
//     .middle {
//       display: flex;
//       gap: 1rem;

//       h1 {
//         &:hover {
//           color: var(--White);
//           transition: 1s;
//         }
//         &:active {
//           color: rgb(103, 103, 165);
//           transition: 1s;
//         }
//       }
//     }

//     .right {
//       &:hover {
//         color: var(--White);
//         transition: 1s;
//       }
//     }
//   }
// }
