@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

li {
  list-style: none;
  text-transform: capitalize;
  font-family: "Alata", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  padding-inline: 10rem;
  background-color: transparent;
  height: 30px;
  width: 100%;
  top: 0;
  left: 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: var(--White);
}

.hamburger {
  display: none;
}

/* section one  */
.section-one {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline-start: 10rem;
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-one .text-content {
  height: 30vh;
  width: 50%;
  padding: 2rem;
  border: 2px solid var(--White);
}
.section-one .text-content h1 {
  font-size: 45px;
  text-transform: uppercase;
  color: var(--White);
  font-family: "Josefin Sans", sans-serif;
}

/* section two  */
.section-two {
  padding-block-start: 5rem;
  padding-block-end: 0rem;
  padding-inline: 10rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 20vh);
  /* border: 1px solid red; */
}

.section-two article:nth-child(1) {
  height: 100%;
  grid-column: 1 / 5;
  grid-row: 1 / 4;
  background-image: url("../images/desktop/image-interactive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-two article:nth-child(2) {
  grid-column: 4 / 7;
  grid-row: 2 / 4;
  background-color: var(--White);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 2rem;
  gap: 1rem;
}
.section-two article:nth-child(2) h1 {
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: var(--VeryDarkGray);
}
.section-two article:nth-child(2) p {
  color: var(--DarkGray);
}

/* section three  */
.section-three {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 10rem;
  padding-block: 2rem;
  padding-block-end: 5rem;
}

.section-three .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-three .heading h1 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: var(--Black);
}
.section-three .heading a {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--Black);
  border: 1px solid var(--Black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 150px;
}

.section-three .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  min-height: 100vh;
}

.section-three .gallery article {
  background-color: red;
  display: flex;
  color: var(--White);
  align-items: flex-end;
  padding: 1rem;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.section-three .gallery article h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Josefin Sans", sans-serif;
}

.section-three .gallery article:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-deep-earth.jpg");
}
.section-three .gallery article:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-night-arcade.jpg");
}
.section-three .gallery article:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-soccer-team.jpg");
}
.section-three .gallery article:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-grid.jpg");
}
.section-three .gallery article:nth-child(5) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-from-above.jpg");
}
.section-three .gallery article:nth-child(6) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-pocket-borealis.jpg");
}
.section-three .gallery article:nth-child(7) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-curiosity.jpg");
}
.section-three .gallery article:nth-child(8) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-fisheye.jpg");
}

/* footer styles  */
footer {
  background-color: var(--Black);
  padding-inline: 3rem;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  color: var(--White);
}

footer .container-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
footer .container-one ul {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  gap: 1rem;
}
footer .container-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}
footer .container-two .socials {
  display: flex;
  gap: 1rem;
}

/* attribution  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES  */

@media screen and (max-width: 678px) {
  header {
    padding: 3rem;
  }
  nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  /* section-one  */
  .section-one {
    padding-inline: 3rem;
    background-image: url("../images/mobile/image-hero.jpg");
  }

  .section-one .text-content {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-one .text-content h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
  }

  /* section two  */

  .section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 3rem;
    padding-block: 3rem;
    gap: 1rem;
  }

  .section-two article {
    height: 50vh;
    width: 100%;
    /* border: 1px solid red; */
  }
  .section-two article:nth-child(1) {
    height: 50vh;
    background-image: url("../images/mobile/image-interactive.jpg");
  }

  .section-two article:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-two article:nth-child(2) h1 {
    font-size: 28px;
    text-align: center;
  }
  .section-two article:nth-child(2) p {
    text-align: center;
  }

  /* section-three  */
  .section-three {
    min-height: 100vh;
    padding-inline: 3rem;
    padding-block: 5rem;
    margin-bottom: 3rem;
    position: relative;
  }

  .section-three .heading {
    justify-content: center;
  }

  .section-three .heading a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .section-three .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    min-height: 100vh;
  }

  .section-three .gallery article {
    padding: 1rem;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 20% !important;
  }

  .section-three .gallery article:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mobile/image-deep-earth.jpg");
  }
  .section-three .gallery article:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mobile/image-night-arcade.jpg");
  }
  .section-three .gallery article:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mobile/image-soccer-team.jpg");
  }
  .section-three .gallery article:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mobile/image-grid.jpg");
  }
  .section-three .gallery article:nth-child(5) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mobile/image-from-above.jpg");
  }
  .section-three .gallery article:nth-child(6) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mobile/image-pocket-borealis.jpg");
  }
  .section-three .gallery article:nth-child(7) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mobile/image-curiosity.jpg");
  }
  .section-three .gallery article:nth-child(8) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/mobile/image-fisheye.jpg");
  }

  /* footer styles  */
  footer {
    background-color: var(--Black);
    padding-inline: 3rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--White);
  }

  footer .container-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  footer .container-one ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  footer .container-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  footer .container-two .socials {
    display: flex;
    gap: 1rem;
  }
}
