/* imports  */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  /* ## Colors

### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%) */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  background-color: whitesmoke;
}
main {
  height: 50vh;
  transition: all 0.5s ease;
}

.light {
  background-image: url("/images/bg-desktop-light.jpg");
}
.dark {
  background-image: url("/images/bg-desktop-dark.jpg");
}

/* TODO AREA  */

.container {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container > * {
  border: 3px solid red;
}
header {
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: whitesmoke;
}
