@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

:root {
  /* ## Colors */

  /* ### Primary */

  --DesaturatedDarkCyan: hsl(180, 29%, 50%);

  /* ### Neutral */

  /* (Background) */
  --LightGrayishCyan: hsl(180, 52%, 96%);
  --white: hsl(0, 0%, 99%);
  --black: hsl(0, 0%, 0%);
  /* (Filter Tablets) */
  --LightGrayishCyan: hsl(180, 31%, 95%);
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  min-height: 100vh;
  background-color: var(--LightGrayishCyan);
}

section.wrapper {
  display: grid;
  grid-template-rows: 20vh 1fr 3vh;
}

.container {
  padding-inline: 5rem;
  padding-block: 1rem;
}

.header {
  background: url("/images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--DesaturatedDarkCyan);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header input {
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* JOB COMPONENT  */

.job {
  width: 100%;
  height: 100px;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 0.2rem;
  border-left: 5px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.job:hover {
  border-left: 5px solid var(--DesaturatedDarkCyan);
}

.job > div:nth-child(1) {
  width: 40%;
  height: 100%;
}

.job > div:nth-child(2) {
  width: 60%;
  height: 100%;
}

.job-info {
  display: flex;
  gap: 1rem;
}

.job .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.job .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.job .details .row-one {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.job .details .row-one a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.4rem;
  border-radius: 1rem;
  font-size: 10px;
  color: var(--LightGrayishCyan);
  display: flex;
  align-items: center;
  justify-content: center;
}

.job .details .row-one p {
  color: var(--DesaturatedDarkCyan);
  font-weight: 700;
}

.job .details .row-one .new {
  background-color: var(--DesaturatedDarkCyan);
}

.job .details .row-one .featured {
  background-color: var(--VeryDarkGrayishCyan);
}

.job .details .row-two .position {
  color: var(--black);
  font-weight: 900;
  font-size: 18px;
  transition: all 0.5s ease;
}

.job .details .row-two .position:hover {
  color: var(--DesaturatedDarkCyan);
}

.job .details .row-three {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--DarkGrayishCyan);
}

.job .details .row-three .dot {
  background-color: var(--DarkGrayishCyan);
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

.job .items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.item-link {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--LightGrayishCyan);
  color: var(--DesaturatedDarkCyan);
  text-decoration: none;
  transition: all 0.5s ease;
}

.item-link:hover {
  background-color: var(--DesaturatedDarkCyan);
  color: var(--LightGrayishCyan);
}
