<div class="attribution">
    <div>
        <span> Challenge by</span>
        <a
            href="https://www.frontendmentor.io?ref=challenge"
            target="_blank"
            class="platform">Frontend Mentor</a
        >
    </div>
    <div>
        <span>Coded by</span>
        <a class="name" href="#">Ogubuike Emejuru</a>
    </div>
</div>

<style>
    .attribution {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        word-spacing: 10px;
        padding: 2rem;
        background-color: whitesmoke;
    }

    div {
    }

    .platform {
        background-color: rgb(7, 37, 133);
        padding: 1rem;
        border-radius: 0.5rem;
        color: white;
    }
    .name {
        background-color: aqua;
        padding: 1rem;
        border-radius: 0.5rem;
    }
</style>