:root {
  // TODO: ## COLORS

  //   NEUTRAL COLORS
  --LightGray: hsl(0, 0%, 81%);
  --LightGrayishBlue: hsl(210, 46%, 95%);

  //   PRIMARY COLORS
  --ModerateViolet: hsl(263, 55%, 52%) 0;
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%) 0;
  --VeryDarkBlackishBlue: hsl(219, 29%, 14%) 0;
  --White: hsl(0, 0%, 100%);

  //    TODO: ## FONTS

  --BarlowSemiCondensed_Black: BarlowSemiCondensed_Black;
  --BarlowSemiCondensed_Bold: BarlowSemiCondensed_Bold;
  --BarlowSemiCondensed_ExtraBold: BarlowSemiCondensed_ExtraBold;
  --BarlowSemiCondensed_Regular: BarlowSemiCondensed_Regular;
  --BarlowSemiCondensed_Medium: BarlowSemiCondensed_Medium;
  --BarlowSemiCondensed_Light: BarlowSemiCondensed_Light;
  --BarlowSemiCondensed_ExtraLight: BarlowSemiCondensed_ExtraLight;
  --BarlowSemiCondensed_Thin: BarlowSemiCondensed_Thin;
  --BarlowSemiCondensed_SemiBold: BarlowSemiCondensed_SemiBold;
}
