:root {
  // TODO: NEUTRAL COLORS
  --White: hsl(0, 0%, 100%);
  --Very__dark__blue: hsl(212, 21%, 14%);
  --Dark__grayish__blue: hsl(228, 12%, 48%);

  // TODO: PRIMARY COLORS
  --Dark__cyan: hsl(158, 36%, 37%);
  --Very__Dark__cyan: hsl(157, 67%, 8%);
  --Cream: hsl(30, 38%, 92%);
}
