---
import "../styles/styles.css";
import MainComponent from "../components/MainComponent.jsx";
import Header from "../components/Header.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Crowdfunding product page</title>
	</head>
	<body>
		<Header client:load />

		<MainComponent client:load />
	</body>
</html>
