---
import "../styles/styles.css";
import MainComponent from "../components/MainComponent.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<img src="../../public/images/logo.svg" alt="" />
			</div>

			<nav>
				<ul>
					<li>About</li>
					<li>Discover</li>
					<li>Get Started</li>
				</ul>
			</nav>
		</header>

		<MainComponent client:load />
	</body>
</html>
