---
import "../styles/styles.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section>
			<div class="hero-content">
				<header>
					<img src="../../public/images/logo.svg" alt="" />
				</header>
				<article>
					<h1>WE'RE <br /> <span> COMING <br /> SOON</span></h1>

					<p>
						Hello fellow shoppers! We're currently building our new
						fashion store. Add your email below to stay up-to-date
						with announcements and our launch deals.
					</p>

					<form>
						<input
							type="email"
							name="email"
							id="email"
							placeholder="Email address"
						/>
						<div>
							<img src="/images/icon-arrow.svg" alt="" />
						</div>
					</form>
				</article>
			</div>

			<div class="hero-image"></div>
		</section>
	</body>
</html>
