---
import "../styles/styles.css";
import Form from "../components/Form.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section>
			<header>
				<img src="../../public/images/logo.svg" alt="" />
			</header>

			<article class="hero-image"></article>

			<article class="content-container">
				<h2>WE'RE <br /> <span> COMING <br /> SOON</span></h2>
				<p>
					Hello fellow shoppers! We're currently building our new
					fashion store. Add your email below to stay up-to-date with
					announcements and our launch deals.
				</p>
				<Form client:load />
			</article>
		</section>
	</body>
</html>
