@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* Colors */
  --ModerateBlue: hsl(238, 40%, 52%);
  --SoftRed: hsl(358, 79%, 66%);
  --LightGrayishBlue: hsl(239, 57%, 85%);
  --PaleRed: hsl(357, 100%, 86%);
  --DarkBlue: hsl(212, 24%, 26%);
  --GrayishBlue: hsl(211, 10%, 45%);
  --LightGray: hsl(223, 19%, 93%);
  --VeryLightGray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  transition: all 0.5s ease;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span i,
i {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: var(--VeryLightGray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding-block: 6rem;
}

/* COMMENTS */
.comments {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.comment,
.reply {
  background-color: var(--White);
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 6em 1fr 8em;
  grid-template-areas:
    "user-info   user-info   user-info"
    "description description description"
    "score        .....      actions"
    "edit        edit      edit";
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.user-info {
  grid-area: user-info;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info .username {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user-info .username h5 {
  color: var(--DarkBlue);
}
.user-info .username span {
  color: var(--White);
  background-color: var(--ModerateBlue);
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 10px;
}

.user-info span {
  color: var(--GrayishBlue);
}

.user-info img {
  width: 30px;
  height: 30px;
}

.description {
  grid-area: description;
  line-height: 1.35;
}

.description p {
  color: var(--GrayishBlue);
}

.score {
  grid-area: score;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--VeryLightGray);
}

.score i {
  color: var(--LightGrayishBlue);
}
.score i:hover {
  color: var(--ModerateBlue);
}

.score h4 {
  color: var(--ModerateBlue);
  font-weight: 900;
  font-size: 17px;
}

.actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.actions div,
.actions span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions span {
  color: var(--ModerateBlue);
  cursor: pointer;
}
.actions span:hover {
  color: var(--LightGrayishBlue);
}

.actions .delete-icon {
  color: var(--SoftRed);
}

/* REPLIES */
.replies-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding-left: 2rem;
  position: relative;
  width: 100%;
}

.replies-container:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  left: 0%;
  background-color: var(--LightGray);
  border-left: 2px solid var(--LightGray);
}

.edit-comment {
  grid-area: edit;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  /* border: 2px solid red; */
}
.edit-comment textarea {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  resize: none;
  border: 1px solid var(--LightGrayishBlue);
  border-radius: 0.5rem;
  outline: none;
}

.edit-comment button {
  padding: 0.5rem 2rem;
  border: none;
  color: white;
  background-color: var(--ModerateBlue);
  border-radius: 0.5rem;
  cursor: pointer;
}
/* NEW COMMENT FORM */
.form-input {
  background-color: var(--White);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 3rem 1fr 6rem;
  grid-template-areas:
    "input input input"
    "avatar ...  button";
  gap: 1rem;
  width: 100%;
}

.form-user-avatar {
  grid-area: avatar;
}

.form-user-avatar img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.input-box {
  grid-area: input;
  resize: none;
  border: 1px solid var(--LightGray);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  color: var(--GrayishBlue);
}

.form-button {
  grid-area: button;
  border: none;
  outline: none;
  color: var(--White);
  background-color: var(--ModerateBlue);
  border-radius: 0.5rem;
  cursor: pointer;
}
.form-button:hover {
  background-color: var(--LightGrayishBlue);
}

/* DIALOG OVERLAY  */

/* MEDIA QUERIES */
@media (min-width: 964px) {
  /* COMMENTS */
  .comments {
    width: 62%;
  }

  .comment,
  .reply {
    background-color: var(--White);
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2em 1fr 8em;
    grid-template-areas:
      "score   user-info   actions"
      "score description description"
      "score        description      description"
      "edit        edit      edit";
  }

  .user-info {
    grid-area: user-info;
  }

  .user-info img {
    width: 30px;
    height: 30px;
  }

  .description {
    grid-area: description;
    line-height: 1.5;
  }

  .score {
    grid-area: score;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .actions {
    grid-area: actions;
    gap: 1rem;
  }

  .actions div {
    gap: 1rem;
  }

  /* REPLIES */
  .replies-container {
    width: 100%;
    padding-left: 4rem;
    position: relative;
  }

  .replies-container:before {
    width: 1px;
    left: 0%;
  }

  /* NEW COMMENT FORM */
  .form-input {
    grid-template-columns: 2rem 1fr 6rem;
    grid-template-areas:
      "avatar input button"
      "... input ...";
    padding-inline-start: 2rem;
  }

  .form-user-avatar {
    grid-area: avatar;
  }

  .input-box {
    grid-area: input;
    padding: 1rem;
  }

  .form-button {
    grid-area: button;
    border-radius: 0.5rem;
  }

  .edit-comment {
    grid-area: edit;
    width: 100%;
    /* border: 2px solid red; */
  }
  .edit-comment textarea {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    resize: none;
    border: 1px solid var(--LightGrayishBlue);
    border-radius: 0.5rem;
    outline: none;

    display: flex;
  }
}

/* SPINNER  */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  background-color: var(--ModerateBlue);
  border-radius: 50%;
  padding: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block-end: 5rem;
}
.loading-spinner {
  width: 100px;
  height: 100px;
  border: 10px dashed var(--SoftRed); /* Light grey */
  border-radius: 50%;
  animation: spinner 5s linear infinite;
  outline: 10px solid var(--VeryLightGray);
}
