---
const { title } = Astro.props;
---

<a href="#">{title}</a>

<style>
    a {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: var(--LightGrayishCyan);
        color: var(--DesaturatedDarkCyan);
        text-decoration: none;
        transition: all 0.5s ease;
    }

    a:hover {
        background-color: var(--DesaturatedDarkCyan);
        color: var(--LightGrayishCyan);
    }
</style>
