---
import JobComponent from "./JobComponent.astro";

const { jobs } = Astro.props;
---

<header class="header container">
    <input type="text" name="filter-input" id="filter-input" />
</header>

<div class="job-list container">
    {
        jobs.map((jobDetails) => {
            return <JobComponent {jobDetails} />;
        })
    }
</div>
