article {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .container {
    background: var(--White);
    height: 450px;
    width: 300px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        object-fit: cover;
        border-radius: 20px;
        width: 92%;
        margin-bottom: 30px;
      }
    }

    .description {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -20px;
      color: var(--Grayishblue);

      h1 {
        font-family: var(--Outfit__ExtraBold);
        font-size: 18px;
        text-align: center;
        color: var(--Darkblue);
      }

      p {
        font-family: var(--Outfit__Regular);
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
