@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
:root {
  /* ## Colors */

  /* ### Primary */

  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --VeryDarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  /* --Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */
  --Black: hsl(0, 0%, 0%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  box-shadow: none;
  font-family: "Kumbh Sans", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
  color: var(--GrayishBlue);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-inline: 5rem;
  padding-block: 1rem;
  border-bottom: 1px solid var(--LightGrayishBlue);
}
header img,
header li {
  cursor: pointer;
}
header img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .hamburger-icon {
  display: none;
}

header .logo-area {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav .call-to-action {
  display: flex;
  align-items: center;
}
header nav .call-to-action div {
  height: 100%;
}

/*---------
 PRODUCT INFO SECTION
 -----------  */

section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  padding: 5rem 10rem;
  min-height: 100vh;
}

section article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 70vh;
}
section .product-gallery img {
  border-radius: 0.5rem;
}
section .product-gallery .product-view {
  height: 60vh;
}
section .product-gallery .thumbnails {
  display: flex;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* Product Info section  */
section .product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh !important;
  padding-block: 4rem;
}
section .product-details h1 {
  color: var(--Black);
  font-size: 37px;
}
section .product-details h3 {
  color: var(--Orange);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
section .product-details p {
  color: var(--DarkGrayishBlue);
  font-size: 14px;
  line-height: 25px;
}

/* Product Cost Section  */
.product-cost {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-cost .new-cost {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product-cost .new-cost .product-price {
  display: flex;
  gap: 1rem;
  font-size: 25px;
  font-weight: 900;
  color: var(--Black);
}

.product-cost .new-cost .product-discount {
  padding: 0.2rem 0.5rem;
  background-color: var(--PaleOrange);
  color: var(--Orange);
  font-weight: 900;
  font-size: 15px;
  border-radius: 0.5rem;
}
.product-cost .old-cost {
  padding: 0.2rem;
  color: var(--GrayishBlue);
  text-decoration: line-through;
}

/* ADD TO CART SECTION  */
.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.add-to-cart .items-number {
  width: 40%;
  display: flex;
  justify-content: space-between;
  background-color: var(--LightGrayishBlue);
  border-radius: 0.5rem;
}
.add-to-cart .items-number span {
  color: var(--Black);
  font-weight: 700;
  padding: 1rem;
}
.add-to-cart .items-number span:not(:nth-child(2)) {
  color: var(--Orange);
  cursor: pointer;
}

.add-to-cart button {
  border: none;
  outline: none;
  width: 60%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--Orange);
  border-radius: 0.5rem;
  color: var(--White);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

button img {
  height: 20px;
  width: 20px;
  object-fit: contain;
  color: var(--White);
}

/*---------
ATTRIBUTION
 -----------  */
.attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
  background-color: var(--Black);
  color: var(--GrayishBlue);
  padding: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*---------
MEDIA QUERIES
 -----------  */

@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding-block: 1rem;
    color: var(--Black);
    width: 80%;
  }

  header div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .hamburger-icon {
    display: block;
  }
  header .hamburger-icon img {
    display: block;
    width: 100%;
  }

  header .logo-area {
    flex: 1;
  }
  header .logo-area img {
    width: 100%;
  }
  header nav {
    justify-content: flex-end;
  }

  header nav ul {
    display: none;
  }

  /*---------
 PRODUCT INFO SECTION
 -----------  */

  section {
    flex-direction: column;
    gap: 3rem;
    padding: 0;
  }

  section .product-gallery {
    width: 100%;
  }
  section .product-gallery img {
    border-radius: 0rem;
  }
  section .product-gallery .product-view {
    height: 60vh;
  }
  section .product-gallery .thumbnails {
    display: none;
  }

  /* Product Info section  */
  section .product-details {
    min-height: 60vh !important;
    padding-block: 1rem;
    padding-inline: 1rem;
  }

  /* Product Cost Section  */
  .product-cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* ADD TO CART SECTION  */
  .add-to-cart {
    flex-direction: column;
    gap: 2rem;
  }

  .add-to-cart .items-number {
    width: 100%;
  }
  .add-to-cart .items-number span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-to-cart .items-number span:not(:nth-child(2)) {
    font-size: 25px;
    font-weight: 900;
  }

  .add-to-cart button {
    border: none;
    outline: none;
    width: 100%;
  }
}

/* SECOND QUERY  */

@media (min-width: 769px) and (max-width: 1000px) {
  section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    padding: 5rem 2rem;
  }
}
