// ### Dark Theme

.dark-theme {
  --backgroundColor: hsl(235, 21%, 11%);
  --TodoBackground: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlue/*(hover)*/: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
  --White: hsl(0, 0%, 100%);
  --boxShadow: 0 5px 10px rgb(0, 0, 0);
  --textInput: hsl(234, 39%, 85%);
}
