/* imports  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --white: whitesmoke;
  --offWhite: rgb(193, 195, 199);
  --grey: rgb(64, 70, 82);
  --black: rgb(1, 1, 2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

/* ATTR  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
