// ### Light Theme

.light-theme {
  --backgroundColor: hsl(0, 0%, 98%);
  --TodoBackground: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  --White: hsl(0, 0%, 100%);
  --boxShadow: 0 3px 10px rgba(0, 0, 0, 0.308);
  --textInput: hsl(235, 21%, 11%);
}
