body {
  background: url("../../assets/images/pattern-background-desktop.svg");
  background-color: var(--PaleBlue);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 370px;

  .top {
    height: 170px;
    background: url("../../assets/images/illustration-hero.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .bottom {
    background: var(--White);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 50px;

    h1 {
      font-family: var(--RedHatDisplay_Black);
      color: var(--DarkBlue);
      font-size: 20px;
      text-align: center;
    }

    p {
      font-family: var(--RedHatDisplay_Light);
      color: var(--DesaturatedBlue);
      text-align: center;
    }

    .pricing {
      display: grid;
      grid-template-columns: 50px 100px 1fr;
      background: var(--VeryPaleBlue);
      padding: 15px;
      border-radius: 15px;

      img {
        object-fit: contain;
        justify-items: center;
        align-self: center;
      }
      div {
        justify-items: center;
        align-self: center;
        padding-left: 5px;
      }
      h2 {
        font-family: var(--RedHatDisplay_Black);
        color: var(--DarkBlue);
        font-size: 16px;
        padding: 0;
        margin: 0;
      }

      h4 {
        font-family: var(--RedHatDisplay_Light);
        padding: 0;
        margin: 0;
        color: var(--DesaturatedBlue);
      }

      a {
        justify-items: center;
        align-self: center;
        text-decoration: underline;
        color: var(--BrightBlue);
        font-family: var(--RedHatDisplay_Black);
        padding-left: 30px;
        cursor: pointer;

        &:hover {
          color: var(--DesaturatedBlue);
        }
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding-top: 10px;
      button {
        height: 40px;
        width: 100%;
        background: var(--BrightBlue);
        color: var(--White);
        font-family: var(--RedHatDisplay_Bold);
        border-radius: 10px;
        border: none;
        cursor: pointer;

        &:hover {
          background: var(--DesaturatedBlue);
        }
      }

      a {
        color: var(--BrightBlue);
        font-family: var(--RedHatDisplay_Black);
        cursor: pointer;

        &:hover {
          color: var(--DarkBlue);
        }
      }
    }
  }
}
