<div class="header">
    <div class="info">
        <h1>Social Media Dashboard</h1>
        <span>Total Followers: 23,004</span>
    </div>
    <div class="switch">
        <span>Dark Mode</span>
        <input type="range" name="" id="toggle" max="2" min="1" />
    </div>
</div>

<script>
    const toggle = document.getElementById("toggle");
    let currentTheme = localStorage.getItem("theme");
    const documentBody = document.body;

    documentBody.classList.add(currentTheme);
    toggle.value = currentTheme === "light-theme" ? "2" : "1";

    toggle.addEventListener("input", function () {
        const number = this.value;
        const newTheme = number === "2" ? "light-theme" : "dark-theme";

        documentBody.classList.replace(currentTheme, newTheme);
        localStorage.setItem("theme", newTheme);
        currentTheme = newTheme;
    });
</script>
<style>
    h1 {
        color: var(--colorThree);
    }

    span {
        color: var(--colorTwo);
    }

    .switch {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .switch span {
        font-weight: 700;
    }

    input[type="range"] {
        -webkit-appearance: none;
        width: 50px;
        height: 25px;
        border-radius: 2rem;
        padding: 0.2rem;
        background: var(--Toggle);
        cursor: pointer;
    }

    input[type="range"]:focus {
        outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background: transparent;
        border-radius: 5px;
    }

    input[type="range"]::-webkit-slider-thumb {
        border: none;
        outline: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: var(--colorOne);
        cursor: pointer;
        -webkit-appearance: none;
        padding: 0.5rem;
    }

    input[type="range"]:focus::-webkit-slider-runnable-track {
        background: transparent;
    }

    /* MEDIA QUERIES  */
    @media (max-width: 800px) {
        .header {
            flex-direction: column;
            gap: 2rem;
            height: 100%;
        }

        .header .info {
            width: 100%;
            height: 100%;
            padding: 1rem 0;
            border-bottom: 2px solid var(--colorTwo);
        }

        .switch {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
    }
</style>
