---
import "../styles/styles.css";
import MainContainer from "../components/MainContainer.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/images/favicon-32x32.png"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Todo app</title>
		<title>Astro</title>
	</head>
	<body>
		<MainContainer client:load />
	</body>
</html>
