@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  /* ## Colors */

  /* ### Primary */

  --SoftBlue: hsl(231, 69%, 60%);
  --SoftRed: hsl(0, 94%, 66%);

  /* ### Neutral */

  --GrayishBlue: hsl(229, 8%, 60%);
  --VeryDarkBlue: hsl(229, 31%, 21%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  transition: all 0.5s ease;
}
li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 2px solid transparent;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
button:hover {
  background-color: white !important;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

/* HEADER  */

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding-block: 4rem;
  padding-inline-start: 3rem;

  overflow: hidden;
}

/* NAVIGATION AREA */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-end: 7rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav ul li {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
  color: var(--VeryDarkBlue);
}
nav ul li:hover {
  color: var(--SoftRed);
}

nav ul button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;

  background-color: var(--SoftRed);
  color: white;
}

nav ul button:hover {
  border: 2px solid var(--SoftRed);
  background-color: white;
  color: var(--SoftRed);
}

/* HERO SECTION  */
header section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 3rem;
}

header section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

header section .content h1 {
  font-size: 45px;
  font-weight: 500;
  color: var(--VeryDarkBlue);
}
header section .content p {
  line-height: 1.5;
  color: var(--GrayishBlue);
}
header section .content .cta-hero {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header section .content .cta-hero button {
  text-transform: capitalize;
  font-size: 12px;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
}
header section .content .cta-hero button:nth-child(1) {
  background-color: var(--SoftBlue);
  color: white;
}
header section .content .cta-hero button:nth-child(1):hover {
  color: var(--SoftBlue);
  border: 2px solid var(--SoftBlue);
}
header section .content .cta-hero button:nth-child(2) {
  color: var(--VeryDarkBlue);
}

header section .content .cta-hero button:nth-child(2):hover {
  color: var(--VeryDarkBlue);
  border: 2px solid var(--VeryDarkBlue);
}
header section .illustration {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.illustration img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.illustration::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20%;
  height: 70%;
  width: 100%;
  background-color: var(--SoftBlue);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 40%;
  z-index: -1;
}

/* FEATURES  */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  width: 40%;
  margin-inline: auto;
  padding: 2rem;
  line-height: 1.5;
}
.features h1 {
  color: var(--VeryDarkBlue);
  font-weight: 500;
}
.features p {
  color: var(--GrayishBlue);
}

/* TABS AREA  */
.tabs-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  min-height: 100vh;
  /* padding-block: 1rem 0; */
  padding-inline: 4rem 0;

  position: relative;

  /* border: 2px solid red; */
}

.tabs-area ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  /* margin: auto; */
  border-bottom: 0.1rem solid var(--GrayishBlue);
}

.tabs-area ul li {
  height: 100%;
  /* opacity: 0.5; */
  font-weight: 400;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-bottom: 4px solid transparent;
  color: var(--GrayishBlue);
  cursor: pointer;
}
.tabs-area ul li:hover {
  opacity: 1;
  color: var(--VeryDarkBlue);
  border-bottom: 4px solid var(--SoftRed);
}
.tabs-area ul li.active {
  color: var(--VeryDarkBlue);
  border-bottom: 4px solid var(--SoftRed);
}

.tabs-area .feature {
  position: absolute;
  top: 15vh;
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  padding-block: 2rem 3rem;
  opacity: 0;
}
.tabs-area .feature .image {
  width: 60%;
  height: 100%;
}

.tabs-area .feature.active {
  opacity: 1;
}
.tabs-area .feature .image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.tabs-area .feature .image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -25%;
  height: 70%;
  width: 60%;
  background-color: var(--SoftBlue);
  border-top-right-radius: 30%;
  border-bottom-right-radius: 20%;
  z-index: -1;
}

.feature .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 30%;
}

.feature .content h1 {
  font-size: 30px;
  font-weight: 500;
  color: var(--VeryDarkBlue);
}
.feature .content p {
  color: var(--GrayishBlue);
}
.feature .content button {
  text-transform: capitalize;
  font-size: 12px;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background-color: var(--SoftBlue);
  color: white;
}

.feature .content button {
  color: white !important;
  background-color: var(--SoftBlue) !important;
}

/* EXTENSIONS AREA */

.extensions-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
  /* border: 10px solid red; */
}

.extensions-section .heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  width: 40%;
}
.extensions-section .heading h1 {
  color: var(--VeryDarkBlue);
}

.extensions-section .heading p {
  color: var(--GrayishBlue);
}

.extensions-section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.extensions-section .cards .card {
  padding: 1rem;
  background-color: white;
  box-shadow: 1px 2px 10px rgba(125, 174, 211, 0.2);

  height: 300px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}
.extensions-section .cards .card .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.extensions-section .cards .card .card-info h2 {
  color: var(--VeryDarkBlue);
}
.extensions-section .cards .card .card-info p {
  color: var(--GrayishBlue);
}

.extensions-section .cards .card button {
  text-transform: capitalize;
  font-size: 12px;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background-color: var(--SoftBlue);
  color: white;
}

.extensions-section .cards .card button:hover {
  color: var(--SoftBlue);
  border: 2px solid var(--SoftBlue);
}
.extensions-section .cards article:nth-child(1) {
}
.extensions-section .cards article:nth-child(2) {
  transform: translateY(30px);
}
.extensions-section .cards article:nth-child(3) {
  transform: translateY(60px);
}

/* FAQ  */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.faq .heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 40%;
}

.faq .heading h1 {
  color: var(--VeryDarkBlue);
}
.faq .heading p {
  color: var(--GrayishBlue);
}

.faq-list {
  width: 50%;
  margin: auto;
}

.faq-list .faq-question {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(137, 153, 163, 0.5);
}
.faq-list .faq-question:last-child {
  border-bottom: 1px solid rgba(137, 152, 163, 0.5);
}

.faq-list .faq-question .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}
.faq-list .question {
  color: var(--VeryDarkBlue);
}
.faq-list .question:hover {
  color: var(--SoftRed);
}
.faq-list .answer {
  /* max-height: 0; */
  color: var(--GrayishBlue);
}

.faq-arrow {
}
.faq-arrow.active {
  /* color: var(--SoftRed); */
  /* fill: var(--SoftRed); */
  stroke: var(--SoftRed);
  /* background-color: red; */
}

.faq-list .answer.active {
  max-height: 100px;
}

.faq button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--SoftBlue);
  color: white;
}

.faq button:hover {
  color: white !important;
  background-color: var(--SoftBlue) !important;
}

/* FOOTER  */

footer {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  margin-block: 3rem 0;
}

footer .row-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 3rem;
  background-color: var(--SoftBlue);
}

footer .row-one .membership p {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
}

footer .row-one .heading {
  width: 40%;
}

footer .row-one .heading h1 {
  text-align: center;
  color: white;
  font-weight: 500;
}
footer .row-one .input-field {
  display: flex;
  gap: 1rem;
  width: 40%;
}
footer .row-one .input-field * {
  padding: 1rem;
  border-radius: 0.5rem;
}
footer .row-one .input-field input {
  width: 70%;
  border: none;
  outline: none;
}

footer .row-one .input-field button {
  background-color: var(--SoftRed);
  color: white;
  font-weight: 500;
}

footer .row-one .input-field button:hover {
  border: 2px solid var(--SoftRed);
  color: var(--SoftRed);
}
footer .row-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--VeryDarkBlue);
  padding-inline: 4rem 2rem;
}

footer .row-two svg g:nth-child(1) path {
  fill: white;
}

footer .row-two .navigation {
  display: flex;
  align-items: center;
  gap: 3rem;
}

footer .row-two .navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .row-two .navigation ul li {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2px;
}

footer .row-two .navigation ul li:hover {
  color: var(--SoftRed);
}
footer .socials ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

footer .socials ul li svg:hover path {
  fill: var(--SoftRed);
}
