:root {
  // ### PRIMARY
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);

  // ### NEUTRAL

  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DarkBlue: hsl(223, 47%, 23%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --White: hsl(0, 0%, 100%);
}
