@font-face {
  font-family: BarlowSemiCondensed_Black;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf");
}
@font-face {
  font-family: BarlowSemiCondensed_Bold;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
}
@font-face {
  font-family: BarlowSemiCondensed_ExtraBold;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-ExtraBold.ttf");
}
@font-face {
  font-family: BarlowSemiCondensed_ExtraLight;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-ExtraLight.ttf");
}
@font-face {
  font-family: BarlowSemiCondensed_Light;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf");
}
@font-face {
  font-family: BarlowSemiCondensed_Medium;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf");
}
@font-face {
  font-family: BarlowSemiCondensed_Regular;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf");
}
@font-face {
  font-family: BarlowSemiCondensed_SemiBold;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
}
@font-face {
  font-family: BarlowSemiCondensed_Thin;
  src: url("../../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Thin.ttf");
}
